$medFontHeading: 2rem;
$medFontPara: 1.5rem;
$cardPadding: 0.625rem;
$border: 0.125rem;
$largePadding: 1.25rem;
$xLargeSpacing: 2.1875rem;
$cardRadius: 0.4375rem;
$blurOffset: -0.4375rem;
$blurSize: 0.0625rem;
$borderWidth: 0.1875rem;

$blue: #53c1ff;
$pink: #ff3399;
$transparent-pink: rgba(red($pink), green($pink), blue($pink), 0.09);
$transparent-blue: rgba(red($blue), green($blue), blue($blue), 0.12);
$background: #040f1c;

//-------------------------------------------------------------------------
// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.2
// MIT License

$track-color: $pink !default;
$thumb-color: $blue !default;

$thumb-radius: $medFontHeading !default;
$thumb-height: $medFontHeading !default;
$thumb-width: $medFontHeading !default;
$thumb-shadow-size: 0.25rem !default;
$thumb-shadow-blur: 0.25rem !default;
$thumb-shadow-color: rgba(0, 0, 0, 0.2) !default;
$thumb-border-width: /* var(--border) */ 0.125rem !default;
$thumb-border-color: $background !default;

$track-width: 100% !default;
$track-height: 1rem !default;
$track-shadow-size: 0.0625rem !default;
$track-shadow-blur: 0.0625rem !default;
$track-shadow-color: rgba(0, 0, 0, 0.2) !default;
$track-border-width: 0.125rem !default;
$track-border-color: $background !default;

$track-radius: 1.25rem !default;
$contrast: 5% !default;

$ie-bottom-track-color: darken($track-color, $contrast) !default;
