* {
  margin: 0;
  padding: 0;
  /* works on chrome */
  /* works on firefox */
  scrollbar-color: #53c1ff #ff3399;
  scrollbar-width: thin;
}
*::-moz-selection {
  background-color: #ff3399;
  color: #040f1c;
}
*::selection {
  background-color: #ff3399;
  color: #040f1c;
}
* ::-webkit-scrollbar {
  width: 10px;
}
* ::-webkit-scrollbar-track {
  background: #ff3399;
  border-radius: 0.625rem;
}
* ::-webkit-scrollbar-thumb {
  background: #53c1ff;
  border-radius: 0.625rem;
}
* ::-webkit-scrollbar-thumb:hover {
  background: #07a5ff;
}

body {
  background-color: #040f1c;
  font-family: "VT323", monospace;
  color: #53c1ff;
  font-size: 1.5rem;
  overflow-wrap: anywhere;
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  text-align: center;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  color: #ff3399;
  -webkit-text-stroke-width: 0.125rem;
  -webkit-text-stroke-color: #040f1c;
  text-shadow: 0.0625rem 0.0625rem 1.25rem #ff3399;
}
header img {
  width: 100%;
}
header h1 {
  padding: 0 1.25rem;
}
@media (min-width: 40em) {
  header {
    font-size: 1.5rem;
    padding-top: 2.1875rem;
  }
}
@media (max-width: 39.9375em) {
  header {
    padding: 1.25rem 0;
  }
}

section {
  scroll-snap-type: y mandatory;
}
@media (min-width: 40em) {
  section {
    display: grid;
    grid-template-columns: 7fr 4fr;
    grid-template-rows: 7fr 3fr;
    grid-gap: 2.1875rem;
    padding: 2.1875rem;
    padding-top: -0.4375rem;
    overflow: hidden;
  }
}
section .container {
  --margin: 1rem;
  margin: 2rem var(--margin);
  width: calc(100% - 2 * var(margin));
  line-height: 1.5rem;
  padding: 0.625rem;
  scroll-snap-align: start;
  background-color: rgba(255, 51, 153, 0.09);
  position: relative;
  --line-color: rgba(227, 69, 255, 0.07);
  --line-height: 3px;
  --line-spacing: 2px;
  background-image: repeating-linear-gradient(to bottom, var(--line-color) 0, var(--line-color) var(--line-height), transparent var(--line-height), transparent calc(var(--line-height) + var(--line-spacing)));
}
@media (min-width: 40em) {
  section .container {
    width: auto;
    border-radius: 1.25rem;
    margin: 0;
  }
}
section .container .title {
  font-size: 2rem;
  padding: 0.625rem 0.625rem;
}
section .container:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -0.4375rem;
  left: 0;
  right: -0.4375rem;
  bottom: 0;
  border: 0.1875rem solid #53c1ff;
  border-radius: 0.4375rem;
  filter: blur(0.0625rem);
}
section .container:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -0.4375rem;
  right: 0;
  bottom: -0.4375rem;
  border: 0.1875rem solid #ff3399;
  border-radius: 0.4375rem;
  filter: blur(0.0625rem);
}
section #canvas-container {
  margin-top: 1rem;
  grid-row: 1;
  padding: 0;
  padding: 0.625rem;
}
@media (min-width: 40em) {
  section #canvas-container {
    height: auto;
    margin-top: 0;
  }
}
section #canvas-container p {
  text-align: center;
  font-size: 1.5rem;
  padding: 0 2rem;
  opacity: 80%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
section #canvas-container .canvas-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
section #canvas-container .canvas-wrapper #meme-canvas {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
@media (min-width: 40em) {
  section #canvas-container .canvas-wrapper #meme-canvas {
    max-height: 60vh;
  }
}
@media (max-width: 39.9375em) {
  section #canvas-container .canvas-wrapper #meme-canvas {
    max-height: 50vh;
  }
}
section .maker-container {
  grid-row: 1;
}
section .maker-container > * {
  padding: 0.625rem;
}
@media (min-width: 40em) {
  section .maker-container .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    margin-top: 1.25rem;
  }
}
section .maker-container .inputs .slider-container label {
  padding: 0.625rem 0;
}
section .maker-container .inputs .slider-container .slider {
  width: 100%;
  padding-bottom: 0.3125rem;
}
section .maker-container .inputs .slider-container [type=range] {
  -webkit-appearance: none;
  background: transparent;
  margin: 1rem 0;
  width: 100%;
  /* ------------------------------------------------ */
}
section .maker-container .inputs .slider-container [type=range]::-moz-focus-outer {
  border: 0;
}
section .maker-container .inputs .slider-container [type=range]:focus {
  outline: 0;
}
section .maker-container .inputs .slider-container [type=range]:focus::-webkit-slider-runnable-track {
  background: #ff4da6;
}
section .maker-container .inputs .slider-container [type=range]:focus::-ms-fill-lower {
  background: #ff3399;
}
section .maker-container .inputs .slider-container [type=range]:focus::-ms-fill-upper {
  background: #ff4da6;
}
section .maker-container .inputs .slider-container [type=range]::-webkit-slider-runnable-track {
  cursor: default;
  height: 1rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(13, 13, 13, 0.2);
  background: #ff3399;
  border: 0.125rem solid #040f1c;
  border-radius: 1.25rem;
}
section .maker-container .inputs .slider-container [type=range]::-webkit-slider-thumb {
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 0.25rem rgba(13, 13, 13, 0.2);
  background: #53c1ff;
  border: 0.125rem solid #040f1c;
  border-radius: 2rem;
  box-sizing: border-box;
  cursor: default;
  height: 2rem;
  width: 2rem;
  -webkit-appearance: none;
  margin-top: -0.625rem;
}
section .maker-container .inputs .slider-container [type=range]::-moz-range-track {
  box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(13, 13, 13, 0.2);
  cursor: default;
  height: 1rem;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  background: #ff3399;
  border: 0.125rem solid #040f1c;
  border-radius: 1.25rem;
  height: 0.5rem;
}
section .maker-container .inputs .slider-container [type=range]::-moz-range-thumb {
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 0.25rem rgba(13, 13, 13, 0.2);
  background: #53c1ff;
  border: 0.125rem solid #040f1c;
  border-radius: 2rem;
  box-sizing: border-box;
  cursor: default;
  height: 2rem;
  width: 2rem;
}
section .maker-container .inputs .slider-container [type=range]::-ms-track {
  cursor: default;
  height: 1rem;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-width: 1rem 0;
  color: transparent;
}
section .maker-container .inputs .slider-container [type=range]::-ms-fill-lower {
  box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(13, 13, 13, 0.2);
  background: #ff1a8c;
  border: 0.125rem solid #040f1c;
  border-radius: 2.5rem;
}
section .maker-container .inputs .slider-container [type=range]::-ms-fill-upper {
  box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(13, 13, 13, 0.2);
  background: #ff3399;
  border: 0.125rem solid #040f1c;
  border-radius: 2.5rem;
}
section .maker-container .inputs .slider-container [type=range]::-ms-thumb {
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 0.25rem rgba(13, 13, 13, 0.2);
  background: #53c1ff;
  border: 0.125rem solid #040f1c;
  border-radius: 2rem;
  box-sizing: border-box;
  cursor: default;
  height: 2rem;
  width: 2rem;
  margin-top: 0.25rem;
}
section .maker-container .inputs .slider-container [type=range]:disabled::-webkit-slider-thumb, section .maker-container .inputs .slider-container [type=range]:disabled::-moz-range-thumb, section .maker-container .inputs .slider-container [type=range]:disabled::-ms-thumb, section .maker-container .inputs .slider-container [type=range]:disabled::-webkit-slider-runnable-track, section .maker-container .inputs .slider-container [type=range]:disabled::-ms-fill-lower, section .maker-container .inputs .slider-container [type=range]:disabled::-ms-fill-upper {
  cursor: not-allowed;
}
section .maker-container .inputs textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 0.625rem;
  border-radius: 0.625rem;
  background: none;
  color: #ff3399;
  font-family: "VT323", monospace;
  margin-bottom: 0.625rem;
  outline: #ff3399;
  border: 1px solid #ff3399;
}
section .maker-container .inputs textarea:focus {
  color: #53c1ff;
  border-color: #53c1ff;
}
section .maker-container .inputs label {
  font-weight: 700;
}
section .maker-container .button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  padding: 0.625rem;
  margin-top: 0.625rem;
  color: #040f1c;
  /* https://www.benmarshall.me/styling-file-inputs/ ------------------------------------------------*/
}
section .maker-container .button-container .button {
  padding: 0.625rem 0.625rem;
  font-size: 1.5rem;
  border-radius: 0.9375rem;
  border: 0.125rem solid #ff3399;
  transition: all 300ms ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "VT323", monospace;
  color: #ff3399;
  background: none;
}
section .maker-container .button-container .button:first-child {
  font-weight: 300;
}
section .maker-container .button-container .button:hover {
  cursor: pointer;
  color: #53c1ff;
  border-color: #53c1ff;
}
section .maker-container .button-container [type=file] {
  clip: rect(0, 0, 0, 0);
  height: 0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 0.0625rem;
  /* ------------------------------------------------ */
}
section .preset-container {
  padding: 0.625rem;
  max-height: 100%;
}
@media (min-width: 40em) {
  section .preset-container {
    grid-column: 1/span 2;
    grid-row: 2;
  }
}
section .preset-container .images {
  overflow-x: auto;
  max-height: 15vh;
  margin: 0.625rem;
}
section .preset-container .images .meme {
  height: 4.375rem;
  transition: all 300ms ease-in-out;
  padding: 3px;
}
section .preset-container .images .meme:hover {
  transform: scale(1.1);
  cursor: pointer;
}/*# sourceMappingURL=meme-generator.css.map */